operators - opearters are symbols using this we can perform the operations on variable

In [ ]:
num1 = 30
num2 = 20
num1 - num2

10

In [ ]:
num1//num2 #//- quotient

1

In [ ]:
num1%num2 #% - remain

10

In [ ]:
num1 = 10

In [ ]:
num1 += 5 # num1 = num1 + 5
num1

15

In [ ]:
num1 -=5 #num1-5
num1

0

In [ ]:
num1 = 20
num2 = 20
num1 == num2

True

In [ ]:
num1>num2

False

In [ ]:
num1>=num2

True

In [ ]:
num1!=num2

False

In [ ]:
a = 10
b = 20
a and b

20

In [ ]:
a or b

10

In [ ]:
a = True
not a

False

In [ ]:
a = "1000"

In [ ]:
type(a)

In [ ]:
a = "1000"
type(a)

str

In [ ]:
a = 1000
type(a)

int

In [ ]:
type(str(a))

str

In [ ]:
cust_name = "yyyy"
cust_id = "200"
salary = "10000"
type(salary)
type(cust_id)

str

In [ ]:
new_id = int(cust_id)

In [ ]:
type(new_id)

int

In [ ]:
print("customer name is ", cust_name," and customer id is ",new_id,"salary of customer is ",salary)

customer name is  yyyy  and customer id is  200 salary of customer is  10000

In [1]:
name = input("please enter your name....")

please enter your name....pritam

In [2]:
name

'pritam'

In [7]:
from re import MULTILINE
num1 = int(input("enter first number:"))
num2 = int(input("enter second number:"))
sum = num1 + num2
print("sum of two numbers:",sum)

enter first number:50
enter second number:12
sum of two numbers: 62

In [9]:
num = eval(input("enter a number:"))

enter a number:[1,2,3]

In [10]:
type(num)

list

In [18]:
num = int(input("enter a number:"))
if num == 7:
  print("Hello welcome to python")

enter a number:7
Hello welcome to python

In [22]:
Marks = float(input("enter your marks:"))
if Marks >=90:
  print("Your performace is outstanding and your grade is 0")

elif Marks >= 75:
    print("grade A")

elif Marks >= 60:
      print("grade B")

elif Marks >=40:
     print("grade c")
else:
  print("Need improvement")

enter your marks:76
grade A

In [37]:
num = int(input("enter a number:"))
if num>0:
  if num%2 ==0:
    print("Number is positive and even")
  else:
    print("Number is positive and odd")
elif num == 0:
    print("Number is zero")
else:
    print("Number is negative")
except valueError
    print("Please enter a valid number")

SyntaxError: invalid syntax (<ipython-input-37-3fa923a620cb>, line 11)